
@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
}
[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    text-decoration: inherit;
}
.icon-large:before {
    font-size: 1.33333em;
    vertical-align: -10%;
}
a [class^="icon-"], a [class*=" icon-"] {
    display: inline;
}
.icon-fixed-width[class^="icon-"], .icon-fixed-width[class*=" icon-"] {
    display: inline-block;
    padding-right: 0.285714em;
    text-align: right;
    width: 1.14286em;
}
.icon-fixed-width.icon-large[class^="icon-"], .icon-fixed-width.icon-large[class*=" icon-"] {
    width: 1.42857em;
}
.icons-ul {
    list-style-type: none;
    margin-left: 2.14286em;
}
.icons-ul > li {
    position: relative;
}
.icons-ul .icon-li {
    left: -2.14286em;
    line-height: inherit;
    position: absolute;
    text-align: center;
    width: 2.14286em;
}
.hide[class^="icon-"], .hide[class*=" icon-"] {
    display: none;
}
.icon-muted {
    color: #eeeeee;
}
.icon-light {
    color: #ffffff;
}
.icon-dark {
    color: #333333;
}
.icon-border {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 0.2em 0.25em 0.15em;
}
.icon-2x {
    font-size: 2em;
}
.icon-2x.icon-border {
    border-radius: 4px;
    border-width: 2px;
}
.icon-3x {
    font-size: 3em;
}
.icon-3x.icon-border {
    border-radius: 5px;
    border-width: 3px;
}
.icon-4x {
    font-size: 4em;
}
.icon-4x.icon-border {
    border-radius: 6px;
    border-width: 4px;
}
.icon-5x {
    font-size: 5em;
}
.icon-5x.icon-border {
    border-radius: 7px;
    border-width: 5px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.pull-left[class^="icon-"], .pull-left[class*=" icon-"] {
    margin-right: 0.3em;
}
.pull-right[class^="icon-"], .pull-right[class*=" icon-"] {
    margin-left: 0.3em;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    display: inline;
    height: auto;
    line-height: normal;
    margin-top: 0;
    vertical-align: baseline;
    width: auto;
}
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"] {
    background-image: none;
}
.btn .icon-large[class^="icon-"], .nav .icon-large[class^="icon-"], .btn .icon-large[class*=" icon-"], .nav .icon-large[class*=" icon-"] {
    line-height: 0.9em;
}
.btn .icon-spin[class^="icon-"], .nav .icon-spin[class^="icon-"], .btn .icon-spin[class*=" icon-"], .nav .icon-spin[class*=" icon-"] {
    display: inline-block;
}
.nav-tabs [class^="icon-"], .nav-pills [class^="icon-"], .nav-tabs [class*=" icon-"], .nav-pills [class*=" icon-"], .nav-tabs .icon-large[class^="icon-"], .nav-pills .icon-large[class^="icon-"], .nav-tabs .icon-large[class*=" icon-"], .nav-pills .icon-large[class*=" icon-"] {
    line-height: 0.9em;
}
.btn .pull-left.icon-2x[class^="icon-"], .btn .pull-left.icon-2x[class*=" icon-"], .btn .pull-right.icon-2x[class^="icon-"], .btn .pull-right.icon-2x[class*=" icon-"] {
    margin-top: 0.18em;
}
.btn .icon-spin.icon-large[class^="icon-"], .btn .icon-spin.icon-large[class*=" icon-"] {
    line-height: 0.8em;
}
.btn.btn-small .pull-left.icon-2x[class^="icon-"], .btn.btn-small .pull-left.icon-2x[class*=" icon-"], .btn.btn-small .pull-right.icon-2x[class^="icon-"], .btn.btn-small .pull-right.icon-2x[class*=" icon-"] {
    margin-top: 0.25em;
}
.btn.btn-large [class^="icon-"], .btn.btn-large [class*=" icon-"] {
    margin-top: 0;
}
.btn.btn-large .pull-left.icon-2x[class^="icon-"], .btn.btn-large .pull-left.icon-2x[class*=" icon-"], .btn.btn-large .pull-right.icon-2x[class^="icon-"], .btn.btn-large .pull-right.icon-2x[class*=" icon-"] {
    margin-top: 0.05em;
}
.btn.btn-large .pull-left.icon-2x[class^="icon-"], .btn.btn-large .pull-left.icon-2x[class*=" icon-"] {
    margin-right: 0.2em;
}
.btn.btn-large .pull-right.icon-2x[class^="icon-"], .btn.btn-large .pull-right.icon-2x[class*=" icon-"] {
    margin-left: 0.2em;
}
.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
    line-height: inherit;
}
.icon-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: -35%;
    width: 2em;
}
.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
    display: block;
    font-size: 1em;
    height: 100%;
    line-height: inherit;
    position: absolute;
    text-align: center;
    width: 100%;
}
.icon-stack .icon-stack-base {
    font-size: 2em;
}
.icon-spin {
    animation: 2s linear 0s normal none infinite spin;
    display: inline-block;
}
a .icon-stack, a .icon-spin {
    display: inline-block;
    text-decoration: none;
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}
.icon-rotate-90:before {
    transform: rotate(90deg);
}
.icon-rotate-180:before {
    transform: rotate(180deg);
}
.icon-rotate-270:before {
    transform: rotate(270deg);
}
.icon-flip-horizontal:before {
    transform: scale(-1, 1);
}
.icon-flip-vertical:before {
    transform: scale(1, -1);
}
a .icon-rotate-90:before, a .icon-rotate-180:before, a .icon-rotate-270:before, a .icon-flip-horizontal:before, a .icon-flip-vertical:before {
    display: inline-block;
}
.icon-glass:before {
    content: "ï€€";
}
.icon-music:before {
    content: "ï€�";
}
.icon-search:before {
    content: "ï€‚";
}
.icon-envelope-alt:before {
    content: "ï€ƒ";
}
.icon-heart:before {
    content: "ï€„";
}
.icon-star:before {
    content: "ï€…";
}
.icon-star-empty:before {
    content: "ï€†";
}
.icon-user:before {
    content: "ï€‡";
}
.icon-film:before {
    content: "ï€ˆ";
}
.icon-th-large:before {
    content: "ï€‰";
}
.icon-th:before {
    content: "ï€Š";
}
.icon-th-list:before {
    content: "ï€‹";
}
.icon-ok:before {
    content: "ï€Œ";
}
.icon-remove:before {
    content: "ï€�";
}
.icon-zoom-in:before {
    content: "ï€Ž";
}
.icon-zoom-out:before {
    content: "ï€�";
}
.icon-power-off:before, .icon-off:before {
    content: "ï€‘";
}
.icon-signal:before {
    content: "ï€’";
}
.icon-gear:before, .icon-cog:before {
    content: "ï€“";
}
.icon-trash:before {
    content: "ï€”";
}
.icon-home:before {
    content: "ï€•";
}
.icon-file-alt:before {
    content: "ï€–";
}
.icon-time:before {
    content: "ï€—";
}
.icon-road:before {
    content: "ï€˜";
}
.icon-download-alt:before {
    content: "ï€™";
}
.icon-download:before {
    content: "ï€š";
}
.icon-upload:before {
    content: "ï€›";
}
.icon-inbox:before {
    content: "ï€œ";
}
.icon-play-circle:before {
    content: "ï€�";
}
.icon-rotate-right:before, .icon-repeat:before {
    content: "ï€ž";
}
.icon-refresh:before {
    content: "ï€¡";
}
.icon-list-alt:before {
    content: "ï€¢";
}
.icon-lock:before {
    content: "ï€£";
}
.icon-flag:before {
    content: "ï€¤";
}
.icon-headphones:before {
    content: "ï€¥";
}
.icon-volume-off:before {
    content: "ï€¦";
}
.icon-volume-down:before {
    content: "ï€§";
}
.icon-volume-up:before {
    content: "ï€¨";
}
.icon-qrcode:before {
    content: "ï€©";
}
.icon-barcode:before {
    content: "ï€ª";
}
.icon-tag:before {
    content: "ï€«";
}
.icon-tags:before {
    content: "ï€¬";
}
.icon-book:before {
    content: "ï€­";
}
.icon-bookmark:before {
    content: "ï€®";
}
.icon-print:before {
    content: "ï€¯";
}
.icon-camera:before {
    content: "ï€°";
}
.icon-font:before {
    content: "ï€±";
}
.icon-bold:before {
    content: "ï€²";
}
.icon-italic:before {
    content: "ï€³";
}
.icon-text-height:before {
    content: "ï€´";
}
.icon-text-width:before {
    content: "ï€µ";
}
.icon-align-left:before {
    content: "ï€¶";
}
.icon-align-center:before {
    content: "ï€·";
}
.icon-align-right:before {
    content: "ï€¸";
}
.icon-align-justify:before {
    content: "ï€¹";
}
.icon-list:before {
    content: "ï€º";
}
.icon-indent-left:before {
    content: "ï€»";
}
.icon-indent-right:before {
    content: "ï€¼";
}
.icon-facetime-video:before {
    content: "ï€½";
}
.icon-picture:before {
    content: "ï€¾";
}
.icon-pencil:before {
    content: "ï�€";
}
.icon-map-marker:before {
    content: "ï��";
}
.icon-adjust:before {
    content: "ï�‚";
}
.icon-tint:before {
    content: "ï�ƒ";
}
.icon-edit:before {
    content: "ï�„";
}
.icon-share:before {
    content: "ï�…";
}
.icon-check:before {
    content: "ï�†";
}
.icon-move:before {
    content: "ï�‡";
}
.icon-step-backward:before {
    content: "ï�ˆ";
}
.icon-fast-backward:before {
    content: "ï�‰";
}
.icon-backward:before {
    content: "ï�Š";
}
.icon-play:before {
    content: "ï�‹";
}
.icon-pause:before {
    content: "ï�Œ";
}
.icon-stop:before {
    content: "ï��";
}
.icon-forward:before {
    content: "ï�Ž";
}
.icon-fast-forward:before {
    content: "ï��";
}
.icon-step-forward:before {
    content: "ï�‘";
}
.icon-eject:before {
    content: "ï�’";
}
.icon-chevron-left:before {
    content: "ï�“";
}
.icon-chevron-right:before {
    content: "ï�”";
}
.icon-plus-sign:before {
    content: "ï�•";
}
.icon-minus-sign:before {
    content: "ï�–";
}
.icon-remove-sign:before {
    content: "ï�—";
}
.icon-ok-sign:before {
    content: "ï�˜";
}
.icon-question-sign:before {
    content: "ï�™";
}
.icon-info-sign:before {
    content: "ï�š";
}
.icon-screenshot:before {
    content: "ï�›";
}
.icon-remove-circle:before {
    content: "ï�œ";
}
.icon-ok-circle:before {
    content: "ï��";
}
.icon-ban-circle:before {
    content: "ï�ž";
}
.icon-arrow-left:before {
    content: "ï� ";
}
.icon-arrow-right:before {
    content: "ï�¡";
}
.icon-arrow-up:before {
    content: "ï�¢";
}
.icon-arrow-down:before {
    content: "ï�£";
}
.icon-mail-forward:before, .icon-share-alt:before {
    content: "ï�¤";
}
.icon-resize-full:before {
    content: "ï�¥";
}
.icon-resize-small:before {
    content: "ï�¦";
}
.icon-plus:before {
    content: "ï�§";
}
.icon-minus:before {
    content: "ï�¨";
}
.icon-asterisk:before {
    content: "ï�©";
}
.icon-exclamation-sign:before {
    content: "ï�ª";
}
.icon-gift:before {
    content: "ï�«";
}
.icon-leaf:before {
    content: "ï�¬";
}
.icon-fire:before {
    content: "ï�­";
}
.icon-eye-open:before {
    content: "ï�®";
}
.icon-eye-close:before {
    content: "ï�°";
}
.icon-warning-sign:before {
    content: "ï�±";
}
.icon-plane:before {
    content: "ï�²";
}
.icon-calendar:before {
    content: "ï�³";
}
.icon-random:before {
    content: "ï�´";
}
.icon-comment:before {
    content: "ï�µ";
}
.icon-magnet:before {
    content: "ï�¶";
}
.icon-chevron-up:before {
    content: "ï�·";
}
.icon-chevron-down:before {
    content: "ï�¸";
}
.icon-retweet:before {
    content: "ï�¹";
}
.icon-shopping-cart:before {
    content: "ï�º";
}
.icon-folder-close:before {
    content: "ï�»";
}
.icon-folder-open:before {
    content: "ï�¼";
}
.icon-resize-vertical:before {
    content: "ï�½";
}
.icon-resize-horizontal:before {
    content: "ï�¾";
}
.icon-bar-chart:before {
    content: "ï‚€";
}
.icon-twitter-sign:before {
    content: "ï‚�";
}
.icon-facebook-sign:before {
    content: "ï‚‚";
}
.icon-camera-retro:before {
    content: "ï‚ƒ";
}
.icon-key:before {
    content: "ï‚„";
}
.icon-gears:before, .icon-cogs:before {
    content: "ï‚…";
}
.icon-comments:before {
    content: "ï‚†";
}
.icon-thumbs-up-alt:before {
    content: "ï‚‡";
}
.icon-thumbs-down-alt:before {
    content: "ï‚ˆ";
}
.icon-star-half:before {
    content: "ï‚‰";
}
.icon-heart-empty:before {
    content: "ï‚Š";
}
.icon-signout:before {
    content: "ï‚‹";
}
.icon-linkedin-sign:before {
    content: "ï‚Œ";
}
.icon-pushpin:before {
    content: "ï‚�";
}
.icon-external-link:before {
    content: "ï‚Ž";
}
.icon-signin:before {
    content: "ï‚�";
}
.icon-trophy:before {
    content: "ï‚‘";
}
.icon-github-sign:before {
    content: "ï‚’";
}
.icon-upload-alt:before {
    content: "ï‚“";
}
.icon-lemon:before {
    content: "ï‚”";
}
.icon-phone:before {
    content: "ï‚•";
}
.icon-unchecked:before, .icon-check-empty:before {
    content: "ï‚–";
}
.icon-bookmark-empty:before {
    content: "ï‚—";
}
.icon-phone-sign:before {
    content: "ï‚˜";
}
.icon-twitter:before {
    content: "ï‚™";
}
.icon-facebook:before {
    content: "ï‚š";
}
.icon-github:before {
    content: "ï‚›";
}
.icon-unlock:before {
    content: "ï‚œ";
}
.icon-credit-card:before {
    content: "ï‚�";
}
.icon-rss:before {
    content: "ï‚ž";
}
.icon-hdd:before {
    content: "ï‚ ";
}
.icon-bullhorn:before {
    content: "ï‚¡";
}
.icon-bell:before {
    content: "ï‚¢";
}
.icon-certificate:before {
    content: "ï‚£";
}
.icon-hand-right:before {
    content: "ï‚¤";
}
.icon-hand-left:before {
    content: "ï‚¥";
}
.icon-hand-up:before {
    content: "ï‚¦";
}
.icon-hand-down:before {
    content: "ï‚§";
}
.icon-circle-arrow-left:before {
    content: "ï‚¨";
}
.icon-circle-arrow-right:before {
    content: "ï‚©";
}
.icon-circle-arrow-up:before {
    content: "ï‚ª";
}
.icon-circle-arrow-down:before {
    content: "ï‚«";
}
.icon-globe:before {
    content: "ï‚¬";
}
.icon-wrench:before {
    content: "ï‚­";
}
.icon-tasks:before {
    content: "ï‚®";
}
.icon-filter:before {
    content: "ï‚°";
}
.icon-briefcase:before {
    content: "ï‚±";
}
.icon-fullscreen:before {
    content: "ï‚²";
}
.icon-group:before {
    content: "ïƒ€";
}
.icon-link:before {
    content: "ïƒ�";
}
.icon-cloud:before {
    content: "ïƒ‚";
}
.icon-beaker:before {
    content: "ïƒƒ";
}
.icon-cut:before {
    content: "ïƒ„";
}
.icon-copy:before {
    content: "ïƒ…";
}
.icon-paperclip:before, .icon-paper-clip:before {
    content: "ïƒ†";
}
.icon-save:before {
    content: "ïƒ‡";
}
.icon-sign-blank:before {
    content: "ïƒˆ";
}
.icon-reorder:before {
    content: "ïƒ‰";
}
.icon-list-ul:before {
    content: "ïƒŠ";
}
.icon-list-ol:before {
    content: "ïƒ‹";
}
.icon-strikethrough:before {
    content: "ïƒŒ";
}
.icon-underline:before {
    content: "ïƒ�";
}
.icon-table:before {
    content: "ïƒŽ";
}
.icon-magic:before {
    content: "ïƒ�";
}
.icon-truck:before {
    content: "ïƒ‘";
}
.icon-pinterest:before {
    content: "ïƒ’";
}
.icon-pinterest-sign:before {
    content: "ïƒ“";
}
.icon-google-plus-sign:before {
    content: "ïƒ”";
}
.icon-google-plus:before {
    content: "ïƒ•";
}
.icon-money:before {
    content: "ïƒ–";
}
.icon-caret-down:before {
    content: "ïƒ—";
}
.icon-caret-up:before {
    content: "ïƒ˜";
}
.icon-caret-left:before {
    content: "ïƒ™";
}
.icon-caret-right:before {
    content: "ïƒš";
}
.icon-columns:before {
    content: "ïƒ›";
}
.icon-sort:before {
    content: "ïƒœ";
}
.icon-sort-down:before {
    content: "ïƒ�";
}
.icon-sort-up:before {
    content: "ïƒž";
}
.icon-envelope:before {
    content: "ïƒ ";
}
.icon-linkedin:before {
    content: "ïƒ¡";
}
.icon-rotate-left:before, .icon-undo:before {
    content: "ïƒ¢";
}
.icon-legal:before {
    content: "ïƒ£";
}
.icon-dashboard:before {
    content: "ïƒ¤";
}
.icon-comment-alt:before {
    content: "ïƒ¥";
}
.icon-comments-alt:before {
    content: "ïƒ¦";
}
.icon-bolt:before {
    content: "ïƒ§";
}
.icon-sitemap:before {
    content: "ïƒ¨";
}
.icon-umbrella:before {
    content: "ïƒ©";
}
.icon-paste:before {
    content: "ïƒª";
}
.icon-lightbulb:before {
    content: "ïƒ«";
}
.icon-exchange:before {
    content: "ïƒ¬";
}
.icon-cloud-download:before {
    content: "ïƒ­";
}
.icon-cloud-upload:before {
    content: "ïƒ®";
}
.icon-user-md:before {
    content: "ïƒ°";
}
.icon-stethoscope:before {
    content: "ïƒ±";
}
.icon-suitcase:before {
    content: "ïƒ²";
}
.icon-bell-alt:before {
    content: "ïƒ³";
}
.icon-coffee:before {
    content: "ïƒ´";
}
.icon-food:before {
    content: "ïƒµ";
}
.icon-file-text-alt:before {
    content: "ïƒ¶";
}
.icon-building:before {
    content: "ïƒ·";
}
.icon-hospital:before {
    content: "ïƒ¸";
}
.icon-ambulance:before {
    content: "ïƒ¹";
}
.icon-medkit:before {
    content: "ïƒº";
}
.icon-fighter-jet:before {
    content: "ïƒ»";
}
.icon-beer:before {
    content: "ïƒ¼";
}
.icon-h-sign:before {
    content: "ïƒ½";
}
.icon-plus-sign-alt:before {
    content: "ïƒ¾";
}
.icon-double-angle-left:before {
    content: "ï„€";
}
.icon-double-angle-right:before {
    content: "ï„�";
}
.icon-double-angle-up:before {
    content: "ï„‚";
}
.icon-double-angle-down:before {
    content: "ï„ƒ";
}
.icon-angle-left:before {
    content: "ï„„";
}
.icon-angle-right:before {
    content: "ï„…";
}
.icon-angle-up:before {
    content: "ï„†";
}
.icon-angle-down:before {
    content: "ï„‡";
}
.icon-desktop:before {
    content: "ï„ˆ";
}
.icon-laptop:before {
    content: "ï„‰";
}
.icon-tablet:before {
    content: "ï„Š";
}
.icon-mobile-phone:before {
    content: "ï„‹";
}
.icon-circle-blank:before {
    content: "ï„Œ";
}
.icon-quote-left:before {
    content: "ï„�";
}
.icon-quote-right:before {
    content: "ï„Ž";
}
.icon-spinner:before {
    content: "ï„�";
}
.icon-circle:before {
    content: "ï„‘";
}
.icon-mail-reply:before, .icon-reply:before {
    content: "ï„’";
}
.icon-github-alt:before {
    content: "ï„“";
}
.icon-folder-close-alt:before {
    content: "ï„”";
}
.icon-folder-open-alt:before {
    content: "ï„•";
}
.icon-expand-alt:before {
    content: "ï„–";
}
.icon-collapse-alt:before {
    content: "ï„—";
}
.icon-smile:before {
    content: "ï„˜";
}
.icon-frown:before {
    content: "ï„™";
}
.icon-meh:before {
    content: "ï„š";
}
.icon-gamepad:before {
    content: "ï„›";
}
.icon-keyboard:before {
    content: "ï„œ";
}
.icon-flag-alt:before {
    content: "ï„�";
}
.icon-flag-checkered:before {
    content: "ï„ž";
}
.icon-terminal:before {
    content: "ï„ ";
}
.icon-code:before {
    content: "ï„¡";
}
.icon-reply-all:before {
    content: "ï„¢";
}
.icon-mail-reply-all:before {
    content: "ï„¢";
}
.icon-star-half-full:before, .icon-star-half-empty:before {
    content: "ï„£";
}
.icon-location-arrow:before {
    content: "ï„¤";
}
.icon-crop:before {
    content: "ï„¥";
}
.icon-code-fork:before {
    content: "ï„¦";
}
.icon-unlink:before {
    content: "ï„§";
}
.icon-question:before {
    content: "ï„¨";
}
.icon-info:before {
    content: "ï„©";
}
.icon-exclamation:before {
    content: "ï„ª";
}
.icon-superscript:before {
    content: "ï„«";
}
.icon-subscript:before {
    content: "ï„¬";
}
.icon-eraser:before {
    content: "ï„­";
}
.icon-puzzle-piece:before {
    content: "ï„®";
}
.icon-microphone:before {
    content: "ï„°";
}
.icon-microphone-off:before {
    content: "ï„±";
}
.icon-shield:before {
    content: "ï„²";
}
.icon-calendar-empty:before {
    content: "ï„³";
}
.icon-fire-extinguisher:before {
    content: "ï„´";
}
.icon-rocket:before {
    content: "ï„µ";
}
.icon-maxcdn:before {
    content: "ï„¶";
}
.icon-chevron-sign-left:before {
    content: "ï„·";
}
.icon-chevron-sign-right:before {
    content: "ï„¸";
}
.icon-chevron-sign-up:before {
    content: "ï„¹";
}
.icon-chevron-sign-down:before {
    content: "ï„º";
}
.icon-html5:before {
    content: "ï„»";
}
.icon-css3:before {
    content: "ï„¼";
}
.icon-anchor:before {
    content: "ï„½";
}
.icon-unlock-alt:before {
    content: "ï„¾";
}
.icon-bullseye:before {
    content: "ï…€";
}
.icon-ellipsis-horizontal:before {
    content: "ï…�";
}
.icon-ellipsis-vertical:before {
    content: "ï…‚";
}
.icon-rss-sign:before {
    content: "ï…ƒ";
}
.icon-play-sign:before {
    content: "ï…„";
}
.icon-ticket:before {
    content: "ï……";
}
.icon-minus-sign-alt:before {
    content: "ï…†";
}
.icon-check-minus:before {
    content: "ï…‡";
}
.icon-level-up:before {
    content: "ï…ˆ";
}
.icon-level-down:before {
    content: "ï…‰";
}
.icon-check-sign:before {
    content: "ï…Š";
}
.icon-edit-sign:before {
    content: "ï…‹";
}
.icon-external-link-sign:before {
    content: "ï…Œ";
}
.icon-share-sign:before {
    content: "ï…�";
}
.icon-compass:before {
    content: "ï…Ž";
}
.icon-collapse:before {
    content: "ï…�";
}
.icon-collapse-top:before {
    content: "ï…‘";
}
.icon-expand:before {
    content: "ï…’";
}
.icon-euro:before, .icon-eur:before {
    content: "ï…“";
}
.icon-gbp:before {
    content: "ï…”";
}
.icon-dollar:before, .icon-usd:before {
    content: "ï…•";
}
.icon-rupee:before, .icon-inr:before {
    content: "ï…–";
}
.icon-yen:before, .icon-jpy:before {
    content: "ï…—";
}
.icon-renminbi:before, .icon-cny:before {
    content: "ï…˜";
}
.icon-won:before, .icon-krw:before {
    content: "ï…™";
}
.icon-bitcoin:before, .icon-btc:before {
    content: "ï…š";
}
.icon-file:before {
    content: "ï…›";
}
.icon-file-text:before {
    content: "ï…œ";
}
.icon-sort-by-alphabet:before {
    content: "ï…�";
}
.icon-sort-by-alphabet-alt:before {
    content: "ï…ž";
}
.icon-sort-by-attributes:before {
    content: "ï… ";
}
.icon-sort-by-attributes-alt:before {
    content: "ï…¡";
}
.icon-sort-by-order:before {
    content: "ï…¢";
}
.icon-sort-by-order-alt:before {
    content: "ï…£";
}
.icon-thumbs-up:before {
    content: "ï…¤";
}
.icon-thumbs-down:before {
    content: "ï…¥";
}
.icon-youtube-sign:before {
    content: "ï…¦";
}
.icon-youtube:before {
    content: "ï…§";
}
.icon-xing:before {
    content: "ï…¨";
}
.icon-xing-sign:before {
    content: "ï…©";
}
.icon-youtube-play:before {
    content: "ï…ª";
}
.icon-dropbox:before {
    content: "ï…«";
}
.icon-stackexchange:before {
    content: "ï…¬";
}
.icon-instagram:before {
    content: "ï…­";
}
.icon-flickr:before {
    content: "ï…®";
}
.icon-adn:before {
    content: "ï…°";
}
.icon-bitbucket:before {
    content: "ï…±";
}
.icon-bitbucket-sign:before {
    content: "ï…²";
}
.icon-tumblr:before {
    content: "ï…³";
}
.icon-tumblr-sign:before {
    content: "ï…´";
}
.icon-long-arrow-down:before {
    content: "ï…µ";
}
.icon-long-arrow-up:before {
    content: "ï…¶";
}
.icon-long-arrow-left:before {
    content: "ï…·";
}
.icon-long-arrow-right:before {
    content: "ï…¸";
}
.icon-apple:before {
    content: "ï…¹";
}
.icon-windows:before {
    content: "ï…º";
}
.icon-android:before {
    content: "ï…»";
}
.icon-linux:before {
    content: "ï…¼";
}
.icon-dribbble:before {
    content: "ï…½";
}
.icon-skype:before {
    content: "ï…¾";
}
.icon-foursquare:before {
    content: "ï†€";
}
.icon-trello:before {
    content: "ï†�";
}
.icon-female:before {
    content: "ï†‚";
}
.icon-male:before {
    content: "ï†ƒ";
}
.icon-gittip:before {
    content: "ï†„";
}
.icon-sun:before {
    content: "ï†…";
}
.icon-moon:before {
    content: "ï††";
}
.icon-archive:before {
    content: "ï†‡";
}
.icon-bug:before {
    content: "ï†ˆ";
}
.icon-vk:before {
    content: "ï†‰";
}
.icon-weibo:before {
    content: "ï†Š";
}
.icon-renren:before {
    content: "ï†‹";
}
